scripting_cyber/0x00-ruby_scripting/1-main.rb
scripting_cyber/0x00-ruby_scripting/2-main.rb
scripting_cyber/0x00-ruby_scripting/file.json
scripting_cyber/0x00-ruby_scripting/3-main.rb
scripting_cyber/0x00-ruby_scripting/0-main.rb
scripting_cyber/0x00-ruby_scripting/4-main.rb
scripting_cyber/0x00-ruby_scripting/file2.json
scripting_cyber/0x00-ruby_scripting/5-main.rb
scripting_cyber/0x00-ruby_scripting/7-main.rb
scripting_cyber/0x00-ruby_scripting/8-main.rb
scripting_cyber/0x00-ruby_scripting/8-main_error.rb
